[submodule "correlation-coefficient"]
	path = correlation-coefficient
	url = https://github.com/Content-Interactives/correlation-coefficient
[submodule "triangle-centers-explorer"]
	path = triangle-centers-explorer
	url = https://github.com/Content-Interactives/triangle-centers-explorer
[submodule "Define-Annuite"]
	path = Define-Annuite
	url = https://github.com/Content-Interactives/Define-Annuite
